.why-body{
    margin-top: 40px;
}

.why-join{
font-size: 50px;
color: var(--ivory);
}


.why-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    gap: 20px;
    padding: 20px;
}


.why-card{
    height: 400px;
    border: 1px solid var(--golden);
    border-radius: 10px;
    padding: 20px;
}

.icon{
height: 50%;
width: 100%;
/* background-color: red; */
display: flex;
justify-content: center;
}

.ic{
    height: 150px;
    width: 150px;
    background-color: var(--black);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}
.ic i{
    color: var(--golden);

}

.why-text{
    height: 50%;
width: 100%;
/* background-color: rgb(100, 23, 23); */
text-align: center;
font-size: 40px;
}



@media (min-width: 0px) and (max-width:450px) {

    .why-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
        gap: 15px;
        padding: 10px;
    }


    .why-card{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 300px;
        border: 1px solid var(--golden);
        border-radius: 10px;
        padding: 10px;
    }

    .ic{
        height: 120px;
        width: 120px;
        background-color: var(--black);
        border-radius: 100%;
        font-size: 60px;
    }

    .why-body{
        margin-top: 50vh;
    }
    
  }


   /* Small devices (landscape phones, 576px and up) */
   @media (min-width: 611px) and (max-width: 767.98px) {
    /* Your styles for small devices */

    .why-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        gap: 15px;
        padding: 10px;
    }


    .why-card{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 300px;
        border: 1px solid var(--golden);
        border-radius: 10px;
        padding: 10px;
    }  
  
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Your styles for medium devices */
    .why-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        gap: 15px;
        padding: 10px;
    }
    }
  